@page "/login"
@layout AuthLayout
@using MailSystem.Contracts.User
@using MailSystem.Client.Interfaces

@inject IAuthenticationService _authenticationService;
@inject NavigationManager _navigationManager;

<div class="col-md-6 mb-4">
    <div class="card">
        <div class="card-body">
            <h1>Prisijungimas</h1>
            <EditForm Model="@_user" OnValidSubmit="@HandleLoginSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary/>
                <div class="form-group">
                    <label for="email">El. pašto adresas</label>
                    <InputText type="email" id="email" class="form-control" @bind-Value="@_user.Name"/>
                    @* <input type="text" name="email" id="email" class="form-control"> *@
                </div>
                <div class="form-group">
                    <label for="password">Slaptažodis</label>
                    @* <input type="password" name="password" id="password" class="form-control"> *@
                    @* <InputText type="password" id="password"/> *@
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Prisijungti</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>
<div class="col-md-6 mb-4">
    <div class="card">
        <div class="card-body">
            <h1>Prisijungimas</h1>
            <EditForm Model="@_user" OnValidSubmit="@HandleLoginSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary/>
                <div class="form-group">
                    <label for="email">El. pašto adresas</label>
                    <InputText type="email" id="email" class="form-control" @bind-Value="@_user.Name"/>
                </div>
                <div class="form-group">
                    <label for="password">Slaptažodis</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Prisijungti</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private UserContract _user = new UserContract();

    private void HandleLoginSubmit()
    {
        _navigationManager.NavigateTo("/Home");
    }
}